
nav{
    width: 90%;
    margin: auto;
    color: white;

}

button a{
    text-decoration: none;
    color: black;
}

button a:hover{
    text-decoration: none;
    color: black;
}

.account-container{
    justify-content: center;
}

.packages{
    justify-content: space-evenly;
    align-items: center;
}

.withdraw-form-container{
    background-color: #17a2b8;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin-top: 25px;
}

.withdraw-form-container #btn-invest{
    background-color: #17a2b8;
    color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 7px;
}

@media screen and (max-width: 427px){
    .dashboard{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dashboard .dashboard-links, .dashboard-content, .content-container{
        width: 100%;
    }

    .packages{
        width: 100%;
    }

    .withdraw-form-container{
        width: 100%;
    }

    .withdraw-form-container #btn-invest{
        width: 100px;
    }
}